{% extends "base.html" %}

{% block title %}{{ book.book_title }}{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 2.5rem; /* Adjusted for navbar height */
            background-color: #f8f9fa; /* Light gray background */
        }
        .book-details {
            background-color: #ffffff; /* White background */
            padding: 20px; /* Padding around content */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow */
        }
        .book-image {
            max-width: 100%; /* Responsive image */
            height: auto; /* Maintain aspect ratio */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow */
        }
        .similar-books {
            background-color: #ffffff; /* White background */
            padding: 20px; /* Padding around content */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow */
        }
        .similar-book-item {
            margin-bottom: 20px; /* Space between each similar book item */
            padding: 15px; /* Padding around each similar book item */
            background-color: #f0f0f0; /* Light gray background */
            border: 1px solid #dee2e6; /* Light border */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow */
        }

        .update-status{
            margin-top: 18px;
        }

        select {
            word-wrap: normal;
            background-image: linear-gradient(#C68EFD, #E9A5F1 50%, #FED2E2);
            background-color: #fae7ee;
            height: 48px;
            height: 39px;
            width: 94px;
            text-align: center;
        }

        /* Стиль для всіх кнопок */
        button,
        .btn {
            background-image: linear-gradient(#C68EFD, #E9A5F1 50%, #FED2E2);
            filter: none;
            border: 1px solid #8F87F1;
            color: black!important;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-image 0.3s, border 0.3s, box-shadow 0.3s, transform 0.3s;
        }

        /* Стиль для кнопок при наведенні */
        button:not(.disabled):hover,
        .btn:not(.disabled):hover {
            background-image: linear-gradient(#FED2E2, #E9A5F1 50%, #C68EFD);
            filter: none;
            border: 1px solid #9c5600;
            color: black;
            box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Увігнута тінь */
            transform: translateY(2px); /* Ефект натискання */
        }

    </style>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Book details column -->
            <div class="col-md-8">
                <div class="card bg-white">
                    <h4 class="card-header  bg-primary text-lowercase"></h4>
                    <div class="card-body">                        
                        <ul class="list-group list-group-flush ">
                            <div class="row ">
                                <div class="col-md-4">
                                    <img src="{{ book.image.url }}" class="card-img-top img-thumbnail" alt="{{ book.book_title }}">
                                </div>
                                <div class="col-md-8">
                            <li class="list-group-item">
                                <strong>Book Name:</strong> {{ book.book_name }}
                            </li>
                            <li class="list-group-item">
                                <strong>Author:</strong> {{ book.author }}
                            </li>
                            <li class="list-group-item">
                                <strong>Created Date:</strong> {{ book.created_date|date:"Y-m-d" }}
                            </li>
                            <li class="list-group-item">
                                <strong>File:</strong> <a href="{{ book.file.url }}" class="btn btn-danger btn-sm">Download</a>
                            </li>
                            <li class="list-group-item">
                                <strong>Number of Pages:</strong> {{ num_pages }}
                            </li>
                            <li class="list-group-item">
                                <strong>File Size:</strong> {{ file_size_mb|floatformat:"2" }} MB
                            </li>


                            <li class="list-group-item">
                                <strong>Category:</strong> {{ book.Category }} 
                            </li>

                            <li class="list-group-item">
                                <strong>ISBN:</strong> {{ book.ISBN }} 
                            </li>

                            <li class="list-group-item">
                                <strong>Publication_Country:</strong> {{ book.Publication_Country }} 
                            </li>

                            <li class="list-group-item">
                                <strong>Language:</strong> {{ book.Language }} 
                            </li>

                            <li class="list-group-item">
                                <strong>Publication_Year:</strong> {{ book.Publication_Year}} 
                            </li>

                            <li class="list-group-item">
                                <strong>Title:</strong> {{ book.book_title }}
                            </li>

                            <li class="list-group-item">
                                <strong>Annotation:</strong> {{ book.book_annotation|safe }}
                            </li>

                            <li class="list-group-item">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="book" value="{{ book.id }}">  <!-- додаємо ID книги -->
                                    <strong><label for="status">Status:</label></strong>
                                    <select name="status" {% if not user.is_authenticated %}disabled{% endif %}>
                                        <option value="unread" {% if user_book.status == "unread" %}selected{% endif %}>Unread</option>
                                        <option value="planning" {% if user_book.status == "planning" %}selected{% endif %}>Planning</option>
                                        <option value="reading" {% if user_book.status == "reading" %}selected{% endif %}>Reading</option>
                                        <option value="read" {% if user_book.status == "read" %}selected{% endif %}>Read</option>
                                    </select>
                                    
                                    <p><button class="update-status" type="submit" {% if not user.is_authenticated %}disabled{% endif %}>Update Status</button></p>
                                </form>                                
                            </li>

                            
                            
                        </ul>
                    </div>
                </div>
              <h2>Comments</h2>
              {% if not book.comments.all %}
                No comments yet <a href="{% url 'add_comment' book.pk %}">Add Comment</a>
                Add One</a>
              {% else %}  
              <a href="{% url 'add_comment' book.pk %}">Add Comment</a>
              <br><br>
                    {% for comment in book.comments.all %}
                        <strong>
                            {{ comment.name }} - {{ comment.date_added }}
                        </strong>    
                        <br>
                        {{ comment.body }}
                        <br><br><br>
                    {% endfor %}     
              {% endif %}  

              <br>

              <a href="{% url 'add_comment' book.pk %}">Add Comment</a>
            </div>
       

            
        <!-- Similar books column -->
        <div class="col-md-4">
            <div class="similar-books">
                <h3 class="text-primary">Recommended Similar Books</h3>
                {% if similar_books %}
                    {% for similar_book, similarity in similar_books %}
                        <div class="similar-book-item">
                            <h5>{{ similar_book.book_title }}</h5>
                            <p><strong>Author:</strong> {{ similar_book.author }} <b class="text-warning">[ in {{ similar_book.Publication_Country}} ]</b></p>
                            {% if similarity >= 0.7 %}
                                <p><strong>Similarity: </strong><span class="text-success"><b>{{ similarity|floatformat:1 }}</b></span></p>
                            {% elif similarity >= 0.5 %}
                                <p><strong>Similarity: </strong><span class="text-primary"><b>{{ similarity|floatformat:1 }}</b></span></p>
                            {% else %}
                                <p><strong>Similarity: </strong><span class="text-danger"><b>{{ similarity|floatformat:1 }}</b></span></p>
                            {% endif %}
                            <a href="{% url 'book_detail' similar_book.id %}" class="btn btn-primary btn-sm">View Details</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No similar books found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
