{% extends "base.html" %}


{% block content %}
  <h1>Your Book Profile</h1>
  <div class="tabs">
    <ul class="tab-list">
      <li><a href="#reading" class="tab-link active">Reading</a></li>
      <li><a href="#read" class="tab-link read-tab">Read</a></li>
      <li><a href="#planning" class="tab-link">Planning</a></li>
    </ul>

    <!-- Reading Tab -->
    <div id="reading" class="tab-content active-tab">
        <h2>Reading</h2>
        <div class="book-list grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for user_book in user_books_reading %}
                <div class="book-card">
                    <img src="{{ user_book.book.image.url }}" alt="Book Cover">
                    <p><strong>{{ user_book.book.book_title }}</strong></p>
                    <p><strong>{{ user_book.book.author }}</strong></p>
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="book" value="{{ user_book.book.id }}">
                      
                      <select name="status">
                        <option value="unread" {% if user_book.status == "unread" %}selected{% endif %}>Unread</option>
                        <option value="planning" {% if user_book.status == "planning" %}selected{% endif %}>Planning</option>
                        <option value="reading" {% if user_book.status == "reading" %}selected{% endif %}>Reading</option>
                        <option value="read" {% if user_book.status == "read" %}selected{% endif %}>Read</option>
                      </select>
                  
                      <button class="submin-btn update-status" type="submit" name="action" value="update_status">Update Status</button>
                  </form>
                  
                </div>
            {% empty %}
                <p>No books in this category.</p>
            {% endfor %}
        </div>
        <div class="pagination">
          <!-- Пагінація відображається лише якщо кількість книг на сторінці більше або дорівнює 7 -->
        {% if user_books_reading.paginator.count >= 7 %}
        <div class="pagination">
          <!-- Кнопка попередньої сторінки -->
          {% if user_books_reading.has_previous %}
              <a href="?reading_page={{ user_books_reading.previous_page_number }}">«</a>
          {% endif %}

          <!-- Список сторінок -->
          {% for num in user_books_reading.paginator.page_range %}
              <a href="?reading_page={{ num }}" class="{% if user_books_reading.number == num %}active{% endif %}">{{ num }}</a>
          {% endfor %}

          <!-- Кнопка наступної сторінки -->
          {% if user_books_reading.has_next %}
              <a href="?reading_page={{ user_books_reading.next_page_number }}">»</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      
    </div>

    <!-- Read Tab -->
    <div id="read" class="tab-content">
        <h2>Read</h2>
        <div class="book-list grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for user_book in user_books_read %}
                <div class="book-card">
                    <img src="{{ user_book.book.image.url }}" alt="Book Cover">
                    <p><strong>{{ user_book.book.book_title }}</strong></p>
                    <p><strong>{{ user_book.book.author }}</strong></p>
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="book" value="{{ user_book.book.id }}">
                    
                      <!-- Статус -->
                      <select name="status">
                        <option value="unread" {% if user_book.status == "unread" %}selected{% endif %}>Unread</option>
                        <option value="planning" {% if user_book.status == "planning" %}selected{% endif %}>Planning</option>
                        <option value="reading" {% if user_book.status == "reading" %}selected{% endif %}>Reading</option>
                        <option value="read" {% if user_book.status == "read" %}selected{% endif %}>Read</option>
                      </select>
                    
                      <button type="submit" class="update-status" name="action" value="update_status">Update Status</button>
                    
                      <!-- ⭐⭐⭐⭐⭐ Rating -->
                      <div class="star-rating">
                        {% for i in "54321" %}
                          {% with i|add:0 as star %}
                            <input type="radio"
                                   id="star{{ star }}-{{ user_book.book.id }}"
                                   name="rating"
                                   value="{{ star }}"
                                   {% if user_book.rating == star %}checked{% endif %}>
                            <label for="star{{ star }}-{{ user_book.book.id }}">&#9733;</label>
                          {% endwith %}
                        {% endfor %}
                      </div>
                    
                      <button type="submit" class="update-rating" name="action" value="update_rating">Update Rating</button>
                    
                      
                      <!-- Кнопка для показу форми відгуку -->
                      <button type="button" class="review-btn" data-book-id="{{ user_book.book.id }}" onclick="toggleReviewForm({{ user_book.book.id }})">Review</button>

                      <!-- Форма для відгуку (спочатку прихована) -->
                      <div class="review-form" id="review-form-{{ user_book.book.id }}" style="display: none;">
                          <form method="POST" action="{% url 'profile' %}">
                              {% csrf_token %}
                              <input type="hidden" name="book" value="{{ user_book.book.id }}">
                              <textarea name="review" rows="4" cols="50">{{ user_book.review }}</textarea>
                              <button type="submit" class="save-review-btn"  name="action" value="update_review">Save Review</button>
                          </form>
                      </div>

                    </form>
                </div>
            {% empty %}
                <p>No books in this category.</p>
            {% endfor %}
        </div>
        <div class="pagination">
          {% if user_books_read.paginator.count >= 7 %}
          <div class="pagination">
            <!-- Кнопка попередньої сторінки -->
            {% if user_books_read.has_previous %}
                <a href="?read_page={{ user_books_read.previous_page_number }}">«</a>
            {% endif %}
  
            <!-- Список сторінок -->
            {% for num in user_books_read.paginator.page_range %}
                <a href="?read_page={{ num }}" class="{% if user_books_read.number == num %}active{% endif %}">{{ num }}</a>
            {% endfor %}
  
            <!-- Кнопка наступної сторінки -->
            {% if user_books_read.has_next %}
                <a href="?read_page={{ user_books_read.next_page_number }}">»</a>
            {% endif %}
          </div>
          {% endif %}
      </div>
    </div>

    <!-- Planning Tab -->
    <div id="planning" class="tab-content">
        <h2>Planning</h2>
        <div class="book-list grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for user_book in user_books_planning %}
                <div class="book-card">
                    <img src="{{ user_book.book.image.url }}" alt="Book Cover">
                    <p><strong>{{ user_book.book.book_title }}</strong></p>
                    <p><strong>{{ user_book.book.author }}</strong></p>
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="book" value="{{ user_book.book.id }}">
                  
                      <select name="status">
                        <option value="unread" {% if user_book.status == "unread" %}selected{% endif %}>Unread</option>
                        <option value="planning" {% if user_book.status == "planning" %}selected{% endif %}>Planning</option>
                        <option value="reading" {% if user_book.status == "reading" %}selected{% endif %}>Reading</option>
                        <option value="read" {% if user_book.status == "read" %}selected{% endif %}>Read</option>
                      </select>
                  
                      <button class="submin-btn update-status" type="submit" name="action" value="update_status">Update Status</button>
                
                    </form>
                  
                </div>
            {% empty %}
                <p>No books in this category.</p>
            {% endfor %}
        </div>
        <div class="pagination">
          <!-- Кнопка попередньої сторінки -->
          {% if user_books_planning.paginator.count >= 7 %}
          <div class="pagination">
            <!-- Кнопка попередньої сторінки -->
            {% if user_books_planning.has_previous %}
                <a href="?planning_page={{ user_books_planning.previous_page_number }}">«</a>
            {% endif %}
  
            <!-- Список сторінок -->
            {% for num in user_books_planning.paginator.page_range %}
                <a href="?planning_page={{ num }}" class="{% if user_books_planning.number == num %}active{% endif %}">{{ num }}</a>
            {% endfor %}
  
            <!-- Кнопка наступної сторінки -->
            {% if user_books_planning.has_next %}
                <a href="?planning_page={{ user_books_planning.next_page_number }}">»</a>
            {% endif %}
          </div>
          {% endif %}
      </div>
    </div>
  </div>
  <style>
/* Загальний стиль для вкладок */

.review-btn{
  margin-top: 12px;
  width: 170px;
}

.save-review-btn{
  width: 170px;
}
/* Style for the review textarea */
textarea[name="review"] {
    width: 100%;  /* Make the textarea expand to fit the container */
    padding: 10px;  /* Add padding inside the textarea */
    border: 1px solid #ccc;  /* Light border for the textarea */
    border-radius: 4px;  /* Rounded corners */
    font-size: 14px;  /* Slightly smaller font size for comfort */
    line-height: 1.6;  /* Increased line height for readability */
    resize: vertical;  /* Allow vertical resizing */
    box-sizing: border-box;  /* Ensure padding is included in width/height */
    margin-top: 12px;
    margin-bottom: 12px;
    height: 150px;
}

textarea[name="review"]:focus {
    border-color: #4A90E2;  /* Change border color when focused */
    outline: none;  /* Remove the default outline */
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);  /* Light blue shadow on focus */
}


.tabs {
  display: flex;
  flex-direction: column;
}

.tab-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;  
  margin-top: 12px;
  margin-bottom: 12px;
}

.update-rating{
  margin-left: 21px;
}

.update-status{
  margin-left: 48px;
}

.tab-list li {
  width: 170px;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  background-image: linear-gradient(#C68EFD, #E9A5F1 50%, #FED2E2);
  color: black!important;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 0.3s, border 0.3s, box-shadow 0.3s, transform 0.3s;
}

.tab-list a {
  text-decoration: none;
  color: #000;
}

select {
    word-wrap: normal;
    background-image: linear-gradient(#C68EFD, #E9A5F1 50%, #FED2E2);
    background-color: #fae7ee;
    height: 48px;
    width: 94px;
    margin-left: 32px;
    text-align: center;
}
.tab-list .active {
  background-image: linear-gradient(#FED2E2, #E9A5F1 50%, #C68EFD);
  border: 1px solid #9c5600;
  color: black;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Увігнута тінь */
  transform: translateY(2px); /* Ефект натискання */
}

/* Стиль для контенту вкладок */
.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content.active-tab {
  display: block;
}

/* Стиль для списку книг */
.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 25px;
}

/* Стиль для всіх кнопок */
button {
  background-image: linear-gradient(#C68EFD, #E9A5F1 50%, #FED2E2);
  filter: none;
  border: 1px solid #8F87F1;
  color: black!important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 0.3s, border 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Стиль для кнопок при наведенні */
button:not(.disabled):hover {
  background-image: linear-gradient(#FED2E2, #E9A5F1 50%, #C68EFD);
  filter: none;
  border: 1px solid #9c5600;
  color: black;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Увігнута тінь */
  transform: translateY(2px); /* Ефект натискання */
}


/* Стиль для карток книг */
.book-card {
  width: calc(100% - 20px);
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Стиль для зображень обкладинок */
.book-cover img {
  width: 100%;
  height: auto;
  max-width: 160px;
  max-height: 220px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.book-card img{
  width: 162px;
  height: 218px;
}

p {
    margin-top: 21px;
    margin-bottom: 1rem;
    font-size: 21px;

}

.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* За замовчуванням — 3 колонки */
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

/* Стиль для заголовків та авторів */
.book-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.book-author {
  font-size: 14px;
  color: #555;
}

/* Стиль для форм */
form {
  margin-top: 15px;
}

form button {
  background-color: #C68EFD;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #C68EFD;
}

/* Стиль для пагінації */
.pagination {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontally center the items */
  margin: 20px auto; /* Center the pagination block */
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 5px; /* Add space between links */
}

.pagination a.active {
  background-color: #C68EFD;
  color: rgb(0, 0, 0);
  border: 1px solid #C68EFD;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}


.star-rating {
  direction: rtl;
  display: inline-flex;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2em;
  color: lightgray;
  cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}




/* Стиль для планшетів */
@media (max-width: 768px) {
    /* На планшетах та менших екранах: два стовпці */
    .book-list {
        grid-template-columns: repeat(2, 1fr); /* Для планшетів дві колонки */
    }

    .star-rating{
      margin-top: 12px;
    }

    .pagination {
        text-align: center;
    }

    .tab-list {
        display: flex;
        justify-content: space-around;
    }

    .tabs {
        padding: 0 10px;
    }

    select {
        margin-left: 0px;
        justify-self: center;
    }

    .update-status,
    .update-rating {
        width: 170px;
        margin-left: 0px;
        margin-top: 13px;
        justify-self: center;
    }
    button {
        padding: 10px;
    }
    
    .book-card img {
        max-width: 90%; /* Картинки в планшетному вигляді мають бути трішки меншими */
    }
  }

/* Стиль для телефонів */
@media (max-width: 480px) {
    /* На телефонах: одна колонка */
    .book-list {
        grid-template-columns: 1fr; /* Для телефонів одна колонка */
    }

    .pagination {
        font-size: 14px;
    }

    .review-btn, 
    .review-btn  {
    margin-left: 13px;
}

    .tab-list {
    flex-direction: column; /* Вкладки вирівнюються вертикально на маленьких екранах */
    align-items: center;
   text-align: center;
  }

  .tab-list li {
    margin-bottom: 13px; /* Додаємо відступ між вкладками */
    margin-top: 13px; /* Додаємо відступ між вкладками */
    width: 100%;
  }

  .tab-list li:first-child {
    margin-top: 0; /* Вилучаємо верхній відступ для першої вкладки */
  }

  .tab-list li:last-child {
    margin-bottom: 0; /* Вилучаємо нижній відступ для останньої вкладки */
  }

    button {
        padding: 12px;
    }
    
    .book-card img {
        max-width: 100%; /* Картинки займають всю ширину на телефоні */
    }

    .update-status,
    .update-rating {
        margin-left: 13px;
    }

}
  </style>
<script>
  // Відновлюємо вибрану вкладку з localStorage
  window.addEventListener('load', function() {
    const activeTabId = localStorage.getItem('activeTab');
    if (activeTabId) {
      // Відновлюємо вкладку, яка була вибрана раніше
      document.querySelectorAll('.tab-link').forEach(tab => {
        tab.classList.remove('active'); // Видаляємо клас активної вкладки з усіх вкладок
        if (tab.getAttribute('href') === activeTabId) {
          tab.classList.add('active'); // Додаємо клас активної вкладки до обраної
          const target = document.querySelector(activeTabId);
          target.classList.add('active-tab'); // Відкриваємо відповідний контент
        } else {
          const target = document.querySelector(tab.getAttribute('href'));
          target.classList.remove('active-tab'); // Закриваємо інші вкладки
        }
      });
    } else {
      // Якщо вкладка не збережена, встановлюємо першу вкладку за замовчуванням
      const firstTab = document.querySelector('.tab-link');
      firstTab.classList.add('active');
      const target = document.querySelector(firstTab.getAttribute('href'));
      target.classList.add('active-tab');
    }
  });

  // Зберігаємо вибір вкладки в localStorage
  document.querySelectorAll('.tab-link').forEach(tab => {
    tab.addEventListener('click', function(e) {
      e.preventDefault();
      
      // Видаляємо 'active' клас з усіх вкладок і ховаємо контент
      document.querySelectorAll('.tab-link').forEach(link => link.classList.remove('active'));
      document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active-tab'));
      
      // Додаємо 'active' клас до обраної вкладки
      this.classList.add('active');
      
      // Показуємо відповідний контент
      const target = document.querySelector(this.getAttribute('href'));
      target.classList.add('active-tab');
      
      // Зберігаємо вибір вкладки в localStorage
      localStorage.setItem('activeTab', this.getAttribute('href'));
    });
  });


  function toggleReviewForm(bookId) {
    const reviewForm = document.getElementById('review-form-' + bookId);
    if (reviewForm.style.display === 'none') {
        reviewForm.style.display = 'block';
    } else {
        reviewForm.style.display = 'none';
    }
}

</script>



{% endblock %}
